<div class="home-callout text-center container-fluid">
    <h1>Welcome to my pages</h1>
    <h2>A website were great people meat to share their idea for make this world a better place to live</h2>
</div>
